<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="2000">
		<setting label="2007" type="lsep"/>
		<setting label="2001" type="action" action="RunScript(script.orientexpress, select)"/>
		<setting label="2002" type="action" action="RunScript(script.orientexpress, connect)"/>
		<setting label="2030" type="action" action="RunScript(script.orientexpress, location)"/>
		<setting label="2031" type="action" action="RunScript(script.orientexpress, disconnect)"/>
		<setting label="2003" type="lsep"/>
		<setting id="expressvpn" type="file" label="2000" default="/usr/bin/expressvpn"/>
		<setting id="args" type="text" label="2006" default=""/>
	</category>
	<category label="2020">
		<setting id="debug" type="bool" label="2021" default="false"/>
	</category>
</settings>
